/*#game {
  display: none;
}*/

#play-two {
  display: none;
}

#hold-two {
  display: none;
}

#player-one {
  height: 300px;
  margin: 10px;
border:solid 5px white;
background-color:white;
}

#player-two {
  height: 300px;
  margin: 10px;
  border:solid 5px white;
  background-color:white;
}

#names {
  height: auto;
  margin: 10px;
  padding: 10px;
  border:solid 5px white;
  background-color:white;
}

.jumbotron {
  background-color: #FF4136;
  color: #001F3F;
  /*fff;*/
}

body {
  background-color: #85144B;
  color: #ddd;
}
